PORT=3000
MONGODB_URI=mongodb://bootcamp:bootcamp123@localhost:27017/bootcamp_arcade_auth?authSource=admin
JWT_ACCESS_SECRET=genera_con_openssl_rand_base64_64_access
JWT_REFRESH_SECRET=genera_con_openssl_rand_base64_64_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
